button {
  background-color: var(--pink);
  border: none;
  border-radius: 10px;
  color: var(--white);
  display: flex;
  font-weight: 300;
  justify-content: center;
  text-transform: uppercase;
  width: 100%;
}

button:hover {
  background-color: var(--pink-dark);
}

.large {
  font-size: 16px;
  margin: 5px;
  padding: 20px;
}

.small {
  font-size: 14px;
  padding: 10px;
}